input,
textarea {
	outline: none;
}
ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

// ***************************************

.online {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		border: 2px solid #fff;
		background: #41db51;
	}
}
