.main {
   display: flex;
   justify-content: space-between;
   padding: 13px 5%;

   &__left {
      background: #cddffa;
      flex-basis: 25%;
      position: sticky;
      top: 70px;
      align-self: flex-start;
      &-links {
      }
   }

   &__content {
      flex-basis: 48%;
   }

   &__right {
      background: #cddffa;
      flex-basis: 25%;
      position: sticky;
      top: 70px;
      align-self: flex-start;
   }
}
