<section class="events-popup">

   <div class="events-popup__container">

      <!-- MY EVENTS TITLE -->

      <h2>Найближчі події</h2>

      <div class="events-popup__container-close" id="closeAllEventsPopup">
         <svg class="close__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6L6 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            </path>
            <path d="M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            </path>
         </svg>
      </div>

      <div class="my-event">

         <div class="left-info-event">
            <div class="left-event">
               <h3>18</h3>
               <span>Березня</span>
            </div>

            <div class="event-single-title">
               <h3>Соціальні Мережі</h3>
            </div>
         </div>

         <div class="right-info-event">
            <div class="right-event">
               <p> <i class="fa-solid fa-location-dot"></i> Міт RED</p>
               <a href="#">Більше Інформації</a>
            </div>

            <div class="del-event">
               <span class="close">
                  <svg class="close__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                     <path d="M18 6L6 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                     <path d="M6 6L18 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                  </svg>
               </span>
            </div>
         </div>

      </div>

      <!-- EVENT 2 -->
      <div class="my-event">

         <div class="left-info-event">
            <div class="left-event">
               <h3>24</h3>
               <span>Березня</span>
            </div>

            <div class="event-single-title">
               <h3>Подорож</h3>
            </div>
         </div>

         <div class="right-info-event">
            <div class="right-event">
               <p> <i class="fa-solid fa-location-dot"></i> Кемпінг</p>
               <a href="#">Більше Інформації</a>
            </div>

            <div class="del-event">
               <span class="close">
                  <svg class="close__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                     <path d="M18 6L6 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                     <path d="M6 6L18 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                  </svg>
               </span>
            </div>
         </div>

      </div>

      <!-- EVENT 3 -->
      <div class="my-event">

         <div class="left-info-event">
            <div class="left-event">
               <h3>01</h3>
               <span>Квітня</span>
            </div>

            <div class="event-single-title">
               <h3>Розіграш</h3>
            </div>
         </div>

         <div class="right-info-event">
            <div class="right-event">
               <p> <i class="fa-solid fa-location-dot"></i> День дурня</p>
               <a href="#">Більше Інформації</a>
            </div>

            <div class="del-event">
               <span class="close">
                  <svg class="close__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                     <path d="M18 6L6 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                     <path d="M6 6L18 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                  </svg>
               </span>
            </div>
         </div>

      </div>

      <!-- EVENT 4 -->
      <div class="my-event">

         <div class="left-info-event">
            <div class="left-event">
               <h3>09</h3>
               <span>Квітня</span>
            </div>

            <div class="event-single-title">
               <h3>Соціальні Мережі</h3>
            </div>
         </div>

         <div class="right-info-event">
            <div class="right-event">
               <p> <i class="fa-solid fa-location-dot"></i> Міт New Project</p>
               <a href="#">Більше Інформації</a>
            </div>

            <div class="del-event">
               <span class="close">
                  <svg class="close__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                     <path d="M18 6L6 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                     <path d="M6 6L18 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                  </svg>
               </span>
            </div>
         </div>

      </div>

      <!-- EVENT 5 -->
      <div class="my-event">

         <div class="left-info-event">
            <div class="left-event">
               <h3>22</h3>
               <span>Квітня</span>
            </div>

            <div class="event-single-title">
               <h3>Особливий день</h3>
            </div>
         </div>

         <div class="right-info-event">
            <div class="right-event">
               <p> <i class="fa-solid fa-location-dot"></i> День народження</p>
               <a href="#">Більше Інформації</a>
            </div>

            <div class="del-event">
               <span class="close">
                  <svg class="close__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                     <path d="M18 6L6 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                     <path d="M6 6L18 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                  </svg>
               </span>
            </div>
         </div>

      </div>

      <!-- EVENT 6 -->
      <div class="my-event">

         <div class="left-info-event">
            <div class="left-event">
               <h3>03</h3>
               <span>Травня</span>
            </div>

            <div class="event-single-title">
               <h3>Толока</h3>
            </div>
         </div>

         <div class="right-info-event">
            <div class="right-event">
               <p> <i class="fa-solid fa-location-dot"></i> Допомогти у весняні толоці</p>
               <a href="#">Більше Інформації</a>
            </div>

            <div class="del-event">
               <span class="close">
                  <svg class="close__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                     <path d="M18 6L6 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                     <path d="M6 6L18 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                  </svg>
               </span>
            </div>
         </div>

      </div>

      <!-- EVENT 7 -->
      <div class="my-event">

         <div class="left-info-event">
            <div class="left-event">
               <h3>16</h3>
               <span>Травняя</span>
            </div>

            <div class="event-single-title">
               <h3>Підготовка до літа</h3>
            </div>
         </div>

         <div class="right-info-event">
            <div class="right-event">
               <p> <i class="fa-solid fa-location-dot"></i> День відпочинку</p>
               <a href="#">Більше Інформації</a>
            </div>

            <div class="del-event">
               <span class="close">
                  <svg class="close__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                     <path d="M18 6L6 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                     <path d="M6 6L18 18" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                     </path>
                  </svg>
               </span>
            </div>
         </div>

      </div>

   </div>

</section>