<header class="header">
   <nav class="nav">
      <!--LEFT NAV-->
      <div class="nav__left">
         <div class="logo">
            <a href="/">
               <img src="img/logo.png" alt="logo">
            </a>
         </div>
         <ul>
            <li>
               <a href="#">
                  <img src="img/notification.png" alt="notification">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/inbox.png" alt="inbox">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/video.png" alt="video">
               </a>
            </li>
         </ul>
      </div>
      <!--RIGHT NAV-->
      <div class="nav__right">

         <form class="form-search">
            <img src="img/search.png" alt="search">
            <input type="text" placeholder="Search">
         </form>

         <div class="user-profile online">
            <a href="#">
               <img src="img/vasa.jpg" alt="user">
            </a>
         </div>

      </div>
   </nav>
</header>