<div class="main__content-post">

   <div class="user-profile">
      <img src="img/vasa.jpg" alt="persone">
      <div class="user-profile-info">
         <p>Вася Мелько</p>
         <small>Публічно <i class="fas fa-caret-down"></i></small>
      </div>
   </div>

   <div class="post-input-container">
      <textarea rows="3" placeholder="Що у вас на думці?"></textarea>

      <div class="add-post-links">
         <a href="#">
            <img src="img/live-video.png" alt="video">Онлайн відео
         </a>
         <a href="#">
            <img src="img/photo.png" alt="photo">Фото/Відео
         </a>
         <a href="#">
            <img src="img/feeling.png" alt="activity">Активність
         </a>
      </div>
   </div>

</div>

<div class="post-container">

   <div class="post-row">
      <div class="user-profile">
         <img src="img/vasa.jpg" alt="persone">
         <div class="user-profile-info">
            <p>Вася Мелько</p>
            <span>4хв тому</span>
         </div>
      </div>
      <a href="#"><i class="fas fa-ellipsis-v"></i></a>
   </div>

   <p class="post-text">Підписуйся на мої профілі про <span>@Навчання</span> за посиланнями
      <a href="#">#Instagram</a>
      <a href="#">#Telegram</a>
   </p>

   <img src="img/feed-image-1.png" alt="image" class="post-img">

   <div class="post-row">
      <div class="activity-icons">
         <div class="icons-style">
            <img src="img/like-blue.png" alt="like"> 43
         </div>
         <div class="icons-style">
            <img src="img/comments.png" alt="comments"> 5
         </div>
         <div class="icons-style">
            <img src="img/share.png" alt="share"> 12
         </div>
      </div>

      <div class="post-profile-icon">
         <img src="img/vasa.jpg" alt="persone"> <i class="fas fa-caret-down"></i>
      </div>
   </div>

</div>

<div class="post-container">

   <div class="post-row">
      <div class="user-profile">
         <img src="img/iren.jpg" alt="persone">
         <div class="user-profile-info">
            <p>Ірнина Пец</p>
            <span>2 дні тому</span>
         </div>
      </div>
      <a href="#"><i class="fas fa-ellipsis-v"></i></a>
   </div>

   <p class="post-text">Активний відпочинок з <span>@друзями</span> на природі.

   </p>

   <img src="img/feed-image-2.png" alt="image" class="post-img">

   <div class="post-row">
      <div class="activity-icons">
         <div class="icons-style">
            <img src="img/like-blue.png" alt="like"> 84
         </div>
         <div class="icons-style">
            <img src="img/comments.png" alt="comments"> 16
         </div>
         <div class="icons-style">
            <img src="img/share.png" alt="share"> 25
         </div>
      </div>

      <div class="post-profile-icon">
         <img src="img/iren.jpg" alt="persone"> <i class="fas fa-caret-down"></i>
      </div>
   </div>
</div>

<div class="post-container">

   <div class="post-row">
      <div class="user-profile">
         <img src="img/milena.jpg" alt="persone">
         <div class="user-profile-info">
            <p>Мілена Дідух</p>
            <span>11 березня, 12:37</span>
         </div>
      </div>
      <a href="#"><i class="fas fa-ellipsis-v"></i></a>
   </div>

   <p class="post-text">Похід у місто
      <a href="#">#Friends</a>
      <a href="#">#Citylife</a>
   </p>

   <img src="img/feed-image-3.png" alt="image" class="post-img">

   <div class="post-row">
      <div class="activity-icons">
         <div class="icons-style">
            <img src="img/like-blue.png" alt="like"> 71
         </div>
         <div class="icons-style">
            <img src="img/comments.png" alt="comments"> 13
         </div>
         <div class="icons-style">
            <img src="img/share.png" alt="share"> 3
         </div>
      </div>

      <div class="post-profile-icon">
         <img src="img/milena.jpg" alt="persone"> <i class="fas fa-caret-down"></i>
      </div>
   </div>
</div>

<div class="post-container">

   <div class="post-row">
      <div class="user-profile">
         <img src="img/mary.jpg" alt="persone">
         <div class="user-profile-info">
            <p>Марія Пінчак</p>
            <span>9 березня, 14:08</span>
         </div>
      </div>
      <a href="#"><i class="fas fa-ellipsis-v"></i></a>
   </div>

   <p class="post-text">Розробка сайту
      <a href="#">#WEB</a>
      <a href="#">#Happy</a>
   </p>

   <img src="img/feed-image-4.png" alt="image" class="post-img">

   <div class="post-row">
      <div class="activity-icons">
         <div class="icons-style">
            <img src="img/like-blue.png" alt="like"> 35
         </div>
         <div class="icons-style">
            <img src="img/comments.png" alt="comments"> 1
         </div>
         <div class="icons-style">
            <img src="img/share.png" alt="share"> 3
         </div>
      </div>

      <div class="post-profile-icon">
         <img src="img/mary.jpg" alt="persone"> <i class="fas fa-caret-down"></i>
      </div>
   </div>
</div>

<div class="post-container">

   <div class="post-row">
      <div class="user-profile">
         <img src="img/ihor.jpg" alt="persone">
         <div class="user-profile-info">
            <p></p>
            <span>6 березня, 11:37</span>
         </div>
      </div>
      <a href="#"><i class="fas fa-ellipsis-v"></i></a>
   </div>

   <p class="post-text">Міт з командою, обгворення нового проекту
      <a href="#">#Friends</a>
      <a href="#">#Meeting</a>
      <a href="#">#Team</a>
      <a href="#">#Project</a>
   </p>

   <img src="img/feed-image-5.png" alt="image" class="post-img">

   <div class="post-row">
      <div class="activity-icons">
         <div class="icons-style">
            <img src="img/like-blue.png" alt="like"> 63
         </div>
         <div class="icons-style">
            <img src="img/comments.png" alt="comments"> 14
         </div>
         <div class="icons-style">
            <img src="img/share.png" alt="share"> 5
         </div>
      </div>

      <div class="post-profile-icon">
         <img src="img/ihor.jpg" alt="persone"> <i class="fas fa-caret-down"></i>
      </div>
   </div>
</div>