<div class="main__right">

   <!-- EVENTS TITLE -->
   <div class="main__right-title">
      <h4>Події</h4>
      <div class="events-btn" id="showAllEventsPopup">Переглянути Усі</div>
   </div>
   <!-- EVENTS END -->

   <!-- EVENTS -->
   <div class="main__right-events">

      <div class="left-event">
         <h3>18</h3>
         <span>Березня</span>
      </div>

      <div class="right-event">
         <h3>Соціальні Мережі</h3>
         <p> <i class="fa-solid fa-location-dot"></i> Міт RED</p>
         <a href="#">Більше Інформації</a>
      </div>

   </div>

   <div class="main__right-events">

      <div class="left-event">
         <h3>22</h3>
         <span>Квітня</span>
      </div>

      <div class="right-event">
         <h3>Відпочинок</h3>
         <p> <i class="fa-solid fa-location-dot"></i> Поїздка у Карпати</p>
         <a href="#">Більше Інформації</a>
      </div>

   </div>
   <!-- EVENTS END -->

   <!-- EVENTS TITLE AD -->
   <div class="main__right-title">
      <h4>Реклама</h4>
      <div class="events-btn" id="closeAdvertisement">Закрити</div>
   </div>
   <!-- EVENTS END -->

   <!-- ADVERTISEMENT -->
   <div class="sidebar-advertisement">
      <img src="img/advertisement.png" alt="advertisement">
   </div>
   <!-- ADVERTISEMENT END -->

   <!-- EVENTS TITLE СHAT -->
   <div class="main__right-title">
      <h4>Чат</h4>
      <div class="events-btn" id="hideChat">Сховати чат</div>
   </div>
   <!-- EVENTS END -->

   <!-- CHAT -->
   <div class="online-list">
      <div class="online">
         <img src="img/iren.jpg" alt="persone">
      </div>
      <p>Ірина Пец</p>
   </div>

   <div class="online-list">
      <div class="online">
         <img src="img/nazar.jpg" alt="persone">
      </div>
      <p>Назар Кекош</p>
   </div>

   <div class="online-list">
      <div class="online">
         <img src="img/milena.jpg" alt="persone">
      </div>
      <p>Мілена Дідух</p>
   </div>
   <!-- CHAT END -->

</div>