.header {
   background-color: #1876f2;
   padding: 5px 5%;
   position: sticky;
   top: 0;
   z-index: 999;

   .nav {
      display: flex;
      justify-content: space-between;

      &__left {
         display: flex;
         align-items: center;
         justify-content: space-between;

         .logo {
            a {
               img {
                  width: 160px;
               }
            }
         }
         ul {
            display: flex;
            li {
               display: inline-block;
               a {
                  img {
                     width: 28px;
                     margin: 0 15px;
                  }
               }
            }
         }
      }

      &__right {
         display: flex;
         align-items: center;

         .form-search {
            background-color: #efefef;
            width: 350px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            img {
               width: 18px;
            }
            input {
               width: 100%;
               background-color: transparent;
               padding: 10px;
               outline: none;
               border: 0;
            }
         }

         .user-profile {
            margin-left: 30px;
            a {
               img {
                  width: 40px;
                  border-radius: 50%;
                  cursor: pointer;
               }
            }
         }

         .online {
            position: relative;
            &::after {
               content: "";
               position: absolute;
               top: 0;
               right: 0;
               width: 10px;
               height: 10px;
               border-radius: 50%;
               border: 2px solid #fff;
               background: #41db51;
            }
         }
      }
   }
}
