.main {
   &__content {
      // content
      &-post {
         width: 100%;
         background: var(--bg-color);
         border-radius: 6px;
         padding: 20px;
         color: #626262;
         margin-top: 20px;
         animation: fadeInUp 1s;

         .post-input-container {
            padding-left: 55px;
            margin-top: 20px;
            textarea {
               width: 100%;
               border: 0;
               outline: 0;
               border-bottom: 1px solid #ccc;
               background: transparent;
               resize: none;
            }

            .add-post-links {
               display: flex;
               margin-top: 10px;

               a {
                  display: flex;
                  align-items: center;
                  color: #626262;
                  margin-right: 30px;
                  font-size: 13px;
                  img {
                     width: 20px;
                     margin-right: 10px;
                  }
               }
            }
         }
      }
      .load-more-btn {
         display: block;
         margin: auto;
         cursor: pointer;
         padding: 5px 10px;
         border: 1px solid #9a9a9a;
         color: #626262;
         background: transparent;
         border-radius: 4px;
      }
   }
   .post-container {
      width: 100%;
      background: var(--bg-color);
      border-radius: 6px;
      padding: 20px;
      color: #626262;
      margin: 20px 0;
      animation: fadeInUp 1s;
      .user-profile {
         display: flex;
         align-items: center;
         img {
            width: 45px;
            border-radius: 50%;
            margin-right: 10px;
         }
         .user-profile-info {
            p {
               margin-bottom: 2px;
               font-weight: 500;
               color: #626262;
            }
            span {
               font-size: 13px;
               color: #9a9a9a;
            }
         }
      }
      .post-text {
         color: #9a9a9a;
         margin: 15px 0;
         font-size: 15px;
         span {
            color: #626262;
            font-weight: 500;
         }
         a {
            color: #1876f2;
         }
      }
      .post-img {
         width: 100%;
         border-radius: 4px;
         margin-bottom: 5px;
      }

      .post-row {
         display: flex;
         align-items: center;
         justify-content: space-between;

         a {
            color: #9a9a9a;
         }

         .activity-icons {
            .icons-style {
               display: inline-flex;
               align-items: center;
               justify-content: center;
               margin-right: 20px;
               img {
                  width: 18px;
                  margin-right: 10px;
                  cursor: pointer;
               }
            }
         }

         .post-profile-icon {
            display: flex;
            align-items: center;

            img {
               width: 20px;
               border-radius: 50%;
               margin-right: 5px;
            }
         }
      }
   }
}
